# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
indent_style = tab
tab_width = 2

[{package.json}]
indent_style = space
indent_size = 2
