html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, hsl(0, 0%, 90%), hsl(0, 0%, 82%));
  display: flex;
  margin: 0;
  overflow: hidden;
  font-family: Maison Neue, maisonneue, system-ui, sans-serif;
}

main {
  flex: 1;
  display: flex;
  flex-flow: nowrap column;
}

main h3 {
  display: inline;
  font-weight: normal;
  font-size: 1em;
  margin: 0 auto;
}

left,
right {
  flex: 1;
  display: flex;
  background: #f5f5f5;
}

left {
	border-right: 1px solid #b3b3b3;
}

right {
	border-left: 1px solid #b3b3b3;
}

footer {
  margin-top: auto;
	flex-shrink: 0;
	border-top: 1px solid #b3b3b3;
	background: hsl(0, 0%, 90%);
	display: flex;
  padding: 1.5em;
}

radio4000-player {
  height: auto !important;
}

.Scrollable {
  overflow: auto;
  padding: 1em;
  box-sizing: border-box;
  line-height: 1.8;
}

input[type="range"] {
	flex: 1;
	margin: 0 1em;
}

.Channel {
  text-align: center;
}

/* Remove borders that touch browser-edge */
radio4000-player .Layout {
  border: 0 !important;
}
