html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, hsl(0, 0%, 90%), hsl(0, 0%, 82%));
  display: flex;
  margin: 0;
  overflow: hidden;
  font-family: Maison Neue, maisonneue, system-ui, sans-serif; 
}

aside {
  flex: 1;
  display: flex;
  flex-flow: nowrap column;
}

left,
right {
  flex: 1;
  display: flex;
}

radio4000-player {
  height: auto !important;
}

.Scrollable {
  overflow: auto;
  padding: 1em;
  box-sizing: border-box;
  line-height: 1.8;
}

input[type="range"] {
  padding: 2em 0;
  margin: 0 2em;
}

.Channel {
  text-align: center;
}

aside h3 {
  display: inline;
  font-weight: normal;
  font-size: 1em;
  margin: 0 auto;
}

/* Remove borders that touch browser-edge */
radio4000-player .Layout {
  border-top: 0 !important;
  border-bottom: 0 !important;
}
left radio4000-player .Layout {
  border-left: 0 !important;
}
right radio4000-player .Layout {
  border-right: 0 !important;
}
