.SiteTitle {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 5.5rem;
    padding: 0.7rem;
}

.App {
    display: flex;
}

.App-source {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

.Section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

radio4000-player {
    width: 100%;
    max-width: 25rem;
    height: 80vh !important;
}

.Deck {
    padding: 2rem;
}

.Deck-switcher input {
    width: 100%;
}
