.SiteTitle {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 6rem;
    padding: 0.5rem;
}

.App {
    display: flex;
    justify-content: center;
}

.App-source {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
}

.Section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

radio4000-player {
    width: 100%;
    max-width: 25rem;
}

.Mixer-volumes {
    display: flex;
    justify-content: space-between;
}

.Deck {
    padding: 2rem;
}

.Deck-switcher input {
    width: 100%;
}
