.Directory {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 20rem;
    padding: 0.5rem;
    background-color: lightgray;
    overflow: scroll;
    font-size: 1rem;
}
