.Directory {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    overflow-y: scroll;
    font-size: 1rem;
    height: 100vh;
}
@media (min-width: 40rem) {
    .Directory {
	max-width: 25rem;
    }   
}
@media (min-width: 60rem) {
    .Directory {
	position: static;
	background-color: transparent;
    }
}

.DirectoryBtn.Btn {
    position: fixed;
    z-index: 3;
    top: 1.1rem;
    left: -0.1rem;
    color: black;
    text-decoration: none;
    font-size: .86667rem;
    min-width: 2em;
    padding: .45rem .5rem .4rem;
}
.DirectoryBtn a {
    text-decoration: none;
    display: block;
    transform: rotateY(180deg);
    transition: transform 200ms ease-in-out;
}

.DirectoryBtn a.active {
    transform: rotateY(0);
}
