html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
}

small {
    font-weight: 400;
}

img {
    width: 100%;
    display: block;
}

label {
    display: block;
}

radio4000-player .Header-channel strong {
	/* otherwise removed by reset */
	font-weight: bold;
}
