html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 16px;
}

img {
    width: 100%;
    display: block;
}

label {
    display: block;
}
